<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
 <!--  <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql://localhost:3306/myhiber</property>
    <property name="connection.username">root</property>
    <property name="connection.password">root</property>
    <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
    <property name="hbm2ddl.auto">update</property>
    <property name="show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
   <property name="hibernate.c3p0.min_size">5</property>
<property name="hibernate.c3p0.max_size">20</property>
<property name="hibernate.c3p0.timeout">300</property>
<property name="hibernate.c3p0.max_statements">50</property>
<property name="hibernate.c3p0.idle_test_period">3000</property>
<property name="hibernate.connection.provider_class">
    org.hibernate.c3p0.internal.C3P0ConnectionProvider
</property>-->
   
   <property name="hibernate.connection.provider_class">
    com.zaxxer.hikari.hibernate.HikariConnectionProvider
</property>
<property name="hibernate.hikari.dataSourceClassName">
    com.mysql.cj.jdbc.MysqlDataSource
</property>
<property name="hibernate.hikari.dataSource.url">jdbc:mysql://localhost:3306/myhiber</property>
<property name="hibernate.hikari.dataSource.user">root</property>
<property name="hibernate.hikari.dataSource.password">root</property>
<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
<property name="hibernate.hbm2ddl.auto">update</property>
<property name="hibernate.show_sql">true</property>
<property name="format_sql">true</property>
<property name="hibernate.current_session_context_class">
    org.hibernate.context.internal.ThreadLocalSessionContext
</property>
<property name="cache.use_second_level_cache">true</property>
<property name="cache.region.factory_class">org.hibernate.cache.ehcache.internal.EhcacheRegionFactory</property>

    
    <mapping class="com.tut.Student"></mapping>
    <mapping class="com.tut.Address"></mapping>
    <mapping class="com.map.Question"></mapping>
     <mapping class="com.map.Answer"></mapping>
     <mapping class="com.map1.Emp"></mapping>
     <mapping class="com.map1.Project"></mapping>
    
     <mapping resource="com/mapping/xml/Person.hbm.xml"></mapping>
    </session-factory>






</hibernate-configuration>